# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*

# Node.js
frontend/node_modules/
frontend/.next/
frontend/dist/

# macOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/

# General
.env
.env.* 